html {
  margin: 0;
  padding: 0;
}

body {
  color: var(--fg);
  font: 14px "DejaVu Sans Mono", "Courier", monospace;
  padding: 0;
  margin: 0;
  opacity: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  opacity: 1;
  line-height: 1.3em;
}

body:not(#app) input {
  background: transparent;
  color: var(--fg);
  font: inherit;
  width: 100%;
  border: .1em solid var(--input-unfocused);
  padding: .2em;
  margin-bottom: 1em;
  box-sizing: border-box;
  outline: none;
  height: 2em;
}

body:not(#app) input:focus {
  border: .1em solid var(--input-focused);
}

body:not(#app) kbd {
  background: var(--code-bg);
  color: var(--code-fg);
  padding: .1em;
  overflow-wrap: anywhere;
}

body:not(#app) button {
  background: transparent;
  color: var(--fg);
  border: .1em solid var(--fg);
  font: inherit;
}

body:not(#app) button:not(:disabled):hover {
  cursor: pointer;
  font-weight: bold;
}

body:not(#app) button:disabled {
  border-color: var(--button-disabled);
  color: var(--button-disabled);
}

body:not(#app) ::placeholder {
  color: var(--placeholder-text);
}

/* Rest of your CSS here */

/* One-line URL bar */
#url {
  display: inline-block;
  flex: 1;
  border: none;
  margin: 0;
  background: transparent;
  color: var(--fg);
  outline: none;
  font: inherit;
  min-width: 0;
  padding: .1em;
  width: auto;
  cursor: default;
  white-space: nowrap;
}

/* Tab bar without left and right spacing */
#tabs {
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  z-index: 2;
  margin: 0; /* Remove margin to the left and right of the tab bar */
  padding: 0; /* Remove padding to the left and right of the tab bar */
}

#app {display: grid;grid-template: "navbar tabbar" 2em "main main" auto;}
#navbar {width: 30vw}
#tabs {width: 70vw}
#page-container {grid-area: main;}
